.services {
    font-family: "Work Sans", sans-serif;
    border-radius: 10px;
    padding-left: 6%;
    margin-top: 5rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.l15 {
    line-height: 1.5rem;
}